header{
    background: #cccccc;
    padding: 20px 0;
}

.caja{
width: 1340px;
position: relative;
margin: 0 auto;

}

nav {
    position: absolute ;
    top: 110px;
    right: 0;
    margin-right: 400px;

}
nav li{
    display: inline;
    margin: 0 0 0 25px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold ;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.products{
    width: 1340px;
    margin: 0 auto;
    padding: 50px;


}
.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}
.products li:hover{
    border-color: #c78c19;

}
.products li:active{
    border-color: #088c19;
}

.products h2{
    font-size: 30px;
    font-weight: bold;
}
.products li:hover h2{
    font-size: 33px;

}

.p-desc{
    font-size: 18px;
}
.p-precio{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    
}

footer{
    
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 20px;
    
}
.copyr {
    color: white;
    margin: 15px;
}