body {
    font-family: 'Montserrat', sans-serif;
}
header{
    background: #cccccc;
    padding: 20px 0;
}

.caja{
width: 1340px;
position: relative;
margin: 0 auto;

}

nav {
    position: absolute ;
    top: 110px;
    right: 0;
    margin-right: 400px;

}
nav li{
    display: inline;
    margin: 0 0 0 25px;

}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold ;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.products{
    width: 1340px;
    margin: 0 auto;
    padding: 50px;


}
.products li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}
.products li:hover{
    border-color: #c78c19;

}
.products li:active{
    border-color: #088c19;
}

.products h2{
    font-size: 30px;
    font-weight: bold;
}
.products li:hover h2{
    font-size: 33px;

}

.p-desc{
    font-size: 18px;
}
.p-precio{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    
}

footer{
    
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 20px;
    
}
.copyr {
    color: white;
    margin: 15px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.i-padre{
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
    
}
.enviarb{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
}

.enviarb:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border:1px solid black;
    padding: 8px 15px;
}

/* inicia CSS para html */

.banner {
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}

.principal p{
    margin: 0 0 1em;

}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.difer{
    width: 60%;
}

.util{
    width: 120px;
    float : left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.contenidodiferenciales{
    width: 640px;
    margin: 0 auto;
    
}

.lista{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.difer{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px black;
}
.difer:hover{
    opacity: 0.3;
    
}

.items{
    line-height: 1.5;
}
.items:before{
    content: "❋";
}

.items:first-child{
    font-weight: bold;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa, .contenidodiferenciales {
        width: auto;
    }
    .lista, .imagen-difer{
        width: 100%;
    }
}
